#Task_Deskription{
  border-left: 5px solid grey;
  padding-left: 8px;
}

#pID {margin: 0; border-left:5px solid grey;padding-left: 8px;}

#Task_Deskription .Padding {
  margin: 0;
  border-left:5px solid grey;
  padding-left: 8px;
}

.btn{
  margin-top: -160px;
  margin-left: 12px;
}

.jumbotron {padding-top: 15px;}

#Actions{
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 16px;
  margin-top: 44px;
}

.btn_submit{
  margin-top: 0;
}

.file-custom:after {
  content: attr(data-content);
}

.modal-header {
  /*padding: 0;*/
}
.modal-header .close {
  padding: 10px 15px;
}
.modal-header ul {
  border: none;
}
.modal-header ul li {
  margin: 0;
}
.modal-header ul li a {
  border: none;
  border-radius: 0;
}
.modal-header ul li.active a {
  color: #e12f27;
}
.modal-header ul li a:hover {
  border: none;
}
.modal-header ul li a span {
  margin-left: 10px;
}
.modal-body .form-group {
  margin-bottom: 10px;
}
@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

.reg{
  margin-top: 0;
  margin-left: 38px;
  margin-right: 41px;
}

/*#signup{*/
  /*display:none;*/
/*}*/

/*#repeat{*/
  /*display:none;*/
/*}*/

/*#user{*/
  /*display:none;*/
/*}*/

.up{
  display:none;
}

























